name: Manual Pipeline

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Hello
        run: echo "Manual pipeline running"

      - name: Show date
        run: date
